.activityListFallback {
  width: 100%;
  height: 100%;
  background-color: #90e0ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activityListFallback p {
  color: rgba(34, 34, 34, 0.2);
  font-size: 1.5rem;
}

.activityListFallback img{
  width: 25%;
  height: 25%;
  filter: opacity(0.7);
}