.confirmButton {
  min-width: 15rem;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 16px;
  z-index: 1;
  padding: 1rem;
}

.confirmButton .destination {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255,0.4)
}

.destination div {
  display: flex;
}

.destination div button {
  min-width: 80%;
  border: none;
  background-color: #023e8a;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  cursor: pointer;
}

.destination div button.shareButton {
  min-width: 20%;
  background-color: #ddd;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.destination div .shareButton img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  margin: 0;
}

.confirmButton .destination h1 {
  text-align: center;
}

.confirmButton .destination p {
  text-align: center;
  margin: 0;
}

.confirmButton .destination img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin: 1rem auto 2rem auto;
  opacity: 0.7;
}

.confirmButton .destination p {
  font-size: 1.2rem;
}

.confirmButton .destination a {
  text-decoration: none;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.confirmButton .destination button {
  width: 100%;
  border: none;
  background-color: #023e8a;
  color: #fff;
  padding: 0.5rem 0;
  cursor: pointer;
}

.confirmButton .destination button:hover,
.confirmButton .destination button:active {
  filter: brightness(95%);
}