.nearby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nearby a.button {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem 0;
  background-color: #0077b6;
  color: #fff;
  cursor: pointer;
}

.nearby .button:hover,
.nearby .button:active {
  filter: brightness(95%);
}