.placesLayout {
  width: 100%;
}

.placesLayout h1 {
  text-align: center;
  font-size: 2.2rem;
  color: black;
  position: relative;
  margin: 0;
}

.placesLayout .submitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
}

.placesLayout .submitContainer .submit {
  border: none;
  background-color: #0f79b2;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: white;
  border-radius: 35px;
  cursor: pointer;
}

.placesLayout .submitContainer .submit:hover,
.placesLayout .submitContainer .submit:active {
  filter: brightness(95%);
}

.placesLayout .submitContainer .disabled {
  border: none;
  background-color: #aaa;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: white;
  border-radius: 35px;
}